body {
font-size: .875rem;
font-family: 'Rubik', sans-serif !important;
}
html {
  position: relative;
  min-height: 100%;
}

.feather {
width: 16px;
height: 16px;
vertical-align: text-bottom;
}

/*
* Utilities
*/

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }
.margin-bottom { margin-bottom: 10px;}

html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
  padding-top: 60px;
  margin-bottom: 40px;
}

@media (max-width: 767.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    background-color: var(--gray-dark);
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  .offcanvas-collapse.open {
    -webkit-transform: translateX(-1rem);
    transform: translateX(-1rem); /* Account for horizontal padding on navbar */
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, .75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: var(--secondary);
}

.nav-underline .nav-link:hover {
  color: var(--blue);
}

.nav-underline .active {
  font-weight: 500;
  color: var(--gray-dark);
}

.text-white-50 { color: rgba(255, 255, 255, .5); }

.bg-purple { background-color: var(--purple); }

.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.lh-100 { line-height: 1; }
.lh-125 { line-height: 1.25; }
.lh-150 { line-height: 1.5; }


.profile-work ul{
    list-style: none;
}
.profile-tab label{
    font-weight: 600;
}
.profile-tab .text-right{
    color: #0062cc;
}

.text-xs {
  font-size: 0.75rem !important;
}

.text-sm {
  font-size: 0.875rem !important;
}

.text-lg {
    font-size: 1.25rem !important;
  }

  .text-slg {
    font-size: 1.5rem !important;
  }

.text-xl {
  font-size: 2.5rem !important;
}
.start-help {
    font-size: 0.9rem;
}
.collapse-help {
    display: inline;
}
.collapse-help div.card {
    margin-bottom: 10px;
}

#collapseHelp {
    font-size: 1rem;
}

.form-group--flex .form-group {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.form-group--flex button.btn {
    width: 100%;
}

.btn-light {
    border-color: #007bff !important;
}

.custom-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px; /* Set the fixed height of the footer here */
    line-height: 40px; /* Vertically center the text there */
    background-color: #f5f5f5;
    font-size: 0.8rem;
}


/* change the background color */
.navbar-custom {
    background-color: #a6ce39;
}
.dropdown-item.active, .dropdown-item:active {
    background-color: #a6ce39;
}
.navbar-custom .dropdown {
    background-color: #a6ce39;
}
.navbar-custom .dropdown .dropdown-menu, .navbar-custom .dropdown .dropdown-item {
    background-color: #a6ce39;
    color: white;
}
.navbar-custom .dropdown .dropdown-item:active,
.navbar-custom .dropdown .dropdown-item:focus,
.navbar-custom .dropdown .dropdown-item:hover {
    color: white;
    background-color: #a6ce39;
    text-shadow: 0 0 1px white;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: #ffffff;
    font-weight: 500;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #FCFCFC;
    text-shadow: 0 0 1px white;
}

.feather-white{
    stroke: white;
}
.btn-outline-white {
    border-color: white;
}
.lgpdjus-logo {
    margin-top: -30px;
    margin-bottom: -25px;
    margin-right: -20px;
}

.navbar-custom .nav-item.active .nav-link {
    color: #3c3c3b;
    text-shadow: none;
}
.metabase_iframe {
    display: block;
    width: 1px;
    min-width: 100%;
    margin: 0;
    overflow: scroll;
}

.custom-border {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;

    padding: 10px;
    margin-bottom: 10px;
}

.cliente_reply {
    border-left: 5px solid rgba(0,0,0,.125);
    padding-left: 5px;
    margin-top: -10px;
}

.dpo_ask {
    border-left: 5px solid #ce7e39;
    margin-top: -10px;
    padding-left: 5px;
    font-weight: 700;
}

.ticket_actions .ticket_actions--item:not(:last-child){
    border-bottom: 1px solid rgba(0,0,0,.125);
    margin-bottom: 10px;
}
